.Nominations {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0 0 5px;
    padding: 10px 0 0 0;
    color: var(--text-color);
    background-color: var(--bg);
    border-radius: 15px;
    flex-wrap: wrap;
}

.Nominations h1 {
    font-size: 1rem;
    align-self: center;
}

.Nominations ul{
    margin-bottom: 10px;
}

.nom {
    height: 50px;
    width: 92%;
    display: inline-grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "name btn";
    background-color: var(--accent-color-2);
    align-items: center;
    border-radius: 5px;
    margin: 2px 2%;
    padding: 0 2%;

}

.nom p{
    grid-area: name;
    padding: 0;
    margin: 0;
}
