.wrapper{
  min-height: 100vh;
}
main{
  width: 60%;
  height: 100%;
  min-width: 800px;
  min-height:86.5vh;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: center;
}

.container {
  min-width: 800px;
  width: 100%;
  padding: 0px;
  margin: 0;
  color: var(--text-color);
  display: flex;

}

.hidden {
  display: none;
}

#banner {
  height: 30px;
  width: 100%;
  background-color: var(--contrast-color);
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#banner p{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

footer{
  color: var(--text-color);
  width: 60%;
  height: 5vh;
  height: 50px;
  min-width: 800px;
  margin: 1vh auto 0 auto;
  justify-content: center;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

footer ul{
  display: flex;
}
footer li {
  margin: 5px;
}